.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
}

.hero-section h1 {
    letter-spacing: 6px;
    position: relative;
}

.hero-section p {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2.5rem;
}

.hero-section button {
    margin: 0 1rem;  
}

.hero-section > div {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2s ease, transform 2s ease;
  transition-delay: 0.1s;
}

.hero-section > div.show {
  opacity: 1;
  transform: translateY(0);
}