.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
  max-width: 900px;
  margin: 0 auto;
}

.hero-section h1 {
    letter-spacing: 4px;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-section a {
  color: var(--text-primary);
}

.hero-section > div {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2s ease, transform 2s ease;
  transition-delay: 0.1s;
}

.hero-section > div.show {
  opacity: 1;
  transform: translateY(0);
}