.projects-section {
  position: relative;
  text-align: center;
}

.carousel-container {
  width: 1275px;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
  margin: 2rem;
}

.carousel-track {
  display: flex;
  gap: 2rem;
}

.project-box {
  width: 400px;
  height: 200px;
  background-color: #000000;
  border: 2px solid hsl(var(--border));
  border-radius: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: transform 0.3s;
  cursor: pointer;
}

.project-box:hover {
  transform: scale(1.025);
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4e4e4e;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #ffffff;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  background-color: #969696;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 10;
}

.scroll-button:hover {
  background-color: #666;
}

.scroll-button.left {
  left: calc(45% - 600px - 2.5rem);
}

.scroll-button.right {
  right: calc(45% - 600px - 2.5rem);
}

.projects-heading {
  padding: 2rem;
}

.projects-heading h2 {
  margin-bottom: 2rem;
}