.skills-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  min-height: 100vh;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: left;
}

.skill {
  padding:15px 20px;
}

.skill > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: bold;
}

.skill::after {
  content: '';
  display: block;
  height: 10px;
  width: 400px;
  background: linear-gradient(to right, #ffffff var(--level), #474747 var(--level));
  border-radius: 30px;
}